[Unit]
Description=D&D Sound Machine
After=bluetooth.target sound.target network.target pulseaudio.service
Wants=bluetooth.target pulseaudio.service

[Service]
ExecStartPre=/home/admin/sound-machine/venv/bin/python3 /home/admin/sound-machine/reset_gpio.py
ExecStartPre=/home/admin/sound-machine/bt-setup.sh
ExecStart=/home/admin/sound-machine/venv/bin/python3 /home/admin/sound-machine/main.py
WorkingDirectory=/home/admin/sound-machine
Restart=on-failure
RestartSec=10
TimeoutStopSec=5
User=admin
Environment=PYTHONUNBUFFERED=1
Environment=SDL_AUDIODRIVER=pulse
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native

[Install]
WantedBy=multi-user.target
